// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple T6020 "M2 Pro" SoC
 *
 * Other names: H14J, "Rhodes Chop"
 *
 * Copyright The Asahi Linux Contributors
 */

/* This chip is just a cut down version of t6021, so include it and disable the missing parts */

#define GPU_REPEAT(x) <x x>

#include "t6021.dtsi"

/ {
	compatible = "apple,t6020", "apple,arm-platform";
};

/delete-node/ &pmgr_south;

&gpu {
	compatible = "apple,agx-t6020", "apple,agx-g14x";

	apple,avg-power-filter-tc-ms = <302>;
	apple,avg-power-ki-only = <2.6375>;
	apple,avg-power-kp = <0.18>;
	apple,fast-die0-integral-gain = <1350.0>;
	apple,ppm-filter-time-constant-ms = <32>;
	apple,ppm-ki = <28.0>;
};
