// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Mac Pro (M2 Ultra, 2023) and Mac Studio (M2 Ultra, 2023)
 *
 * This file contains the parts common to J180 and J475 devices with t6022.
 *
 * target-type: J180d / J475d
 *
 * Copyright The Asahi Linux Contributors
 */

/ {
	aliases {
		dcpext4 = &dcpext0_die1;
		disp0 = &display;
	};
};

&lpdptxphy_die1 {
	status = "okay";
};

&display {
	iommus = <&dispext0_dart_die1 0>;
};

&dispext0_dart_die1 {
	status = "okay";
};

&dcpext0_dart_die1 {
	status = "okay";
};

&dcpext0_mbox_die1 {
	status = "okay";
};

&dcpext0_die1 {
	status = "okay";
	apple,connector-type = "HDMI-A";

	/*  HDMI HPD gpio, used as interrupt*/
	hdmi-hpd-gpios = <&pinctrl_aop 41 GPIO_ACTIVE_HIGH>;

	hdmi-pwren-gpios = <&smc_gpio 23 GPIO_ACTIVE_HIGH>;
	// J180 misses "function-dp2hdmi_pwr_en"
	// dp2hdmi-pwren-gpios = <&smc_gpio 25 GPIO_ACTIVE_HIGH>;

	phys = <&lpdptxphy_die1>;
	phy-names = "dp-phy";
	apple,dptx-phy = <4>;
	apple,dptx-die = <1>;
};

/* delete missing dcp0/disp0 */

/delete-node/ &disp0_dart;
/delete-node/ &dcp_dart;
/delete-node/ &dcp_mbox;
/delete-node/ &dcp;

/* delete unused always-on power-domains */
/delete-node/ &ps_disp0_cpu0;
/delete-node/ &ps_disp0_fe;

/delete-node/ &ps_disp0_cpu0_die1;
/delete-node/ &ps_disp0_fe_die1;


/* USB Type C */
&i2c0 {
	/* front-right */
	hpm4: usb-pd@39 {
		compatible = "apple,cd321x";
		reg = <0x39>;
		interrupt-parent = <&pinctrl_ap>;
		interrupts = <44 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		typec4: connector {
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec4_con_hs: endpoint {
						remote-endpoint = <&typec4_usb_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec4_con_ss: endpoint {
						remote-endpoint = <&typec4_usb_ss>;
					};
				};
			};
		};
	};

	/* front-left */
	hpm5: usb-pd@3a {
		compatible = "apple,cd321x";
		reg = <0x3a>;
		interrupt-parent = <&pinctrl_ap>;
		interrupts = <44 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		typec5: connector {
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec5_con_hs: endpoint {
						remote-endpoint = <&typec5_usb_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec5_con_ss: endpoint {
						remote-endpoint = <&typec5_usb_ss>;
					};
				};
			};
		};
	};
};

/* USB controllers on die 1 */
&dwc3_0_die1 {
	port {
		typec4_usb_hs: endpoint {
			remote-endpoint = <&typec4_con_hs>;
		};
	};
};

&dwc3_1_die1 {
	port {
		typec5_usb_hs: endpoint {
			remote-endpoint = <&typec5_con_hs>;
		};
	};
};

/* Type-C PHYs */
&atcphy0_die1 {
	port {
		typec4_usb_ss: endpoint {
			remote-endpoint = <&typec4_con_ss>;
		};
	};
};

&atcphy1_die1 {
	port {
		typec5_usb_ss: endpoint {
			remote-endpoint = <&typec5_con_ss>;
		};
	};
};
