// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple M2 MacBook Air/Pro (M2, 2022)
 *
 * This file contains parts common to all Apple M2 devices using the t8112.
 *
 * target-type: J493, J413
 *
 * Copyright The Asahi Linux Contributors
 */

/ {
	aliases {
		atcphy0 = &atcphy0;
		atcphy1 = &atcphy1;
		serial0 = &serial0;
		serial2 = &serial2;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "serial0";

		framebuffer0: framebuffer@0 {
			compatible = "apple,simple-framebuffer", "simple-framebuffer";
			reg = <0 0 0 0>; /* To be filled by loader */
			/* Format properties will be added by loader */
			status = "disabled";
		};
	};

	memory@800000000 {
		device_type = "memory";
		reg = <0x8 0 0x2 0>; /* To be filled by loader */
	};
};

&serial0 {
	status = "okay";
};

&serial2 {
	status = "okay";
};

&i2c0 {
	hpm0: usb-pd@38 {
		compatible = "apple,cd321x";
		reg = <0x38>;
		interrupt-parent = <&pinctrl_ap>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		typec0: connector {
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec0_con_hs: endpoint {
						remote-endpoint = <&typec0_usb_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec0_con_ss: endpoint {
						remote-endpoint = <&typec0_usb_ss>;
					};
				};
			};
		};
	};

	hpm1: usb-pd@3f {
		compatible = "apple,cd321x";
		reg = <0x3f>;
		interrupt-parent = <&pinctrl_ap>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		typec1: connector {
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec1_con_hs: endpoint {
						remote-endpoint = <&typec1_usb_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec1_con_ss: endpoint {
						remote-endpoint = <&typec1_usb_ss>;
					};
				};
			};
		};
	};
};

/* USB controllers */
&dwc3_0 {
	port {
		typec0_usb_hs: endpoint {
			remote-endpoint = <&typec0_con_hs>;
		};
	};
};

&dwc3_1 {
	port {
		typec1_usb_hs: endpoint {
			remote-endpoint = <&typec1_con_hs>;
		};
	};
};

/* Type-C PHYs */
&atcphy0 {
	port {
		typec0_usb_ss: endpoint {
			remote-endpoint = <&typec0_con_ss>;
		};
	};
};

&atcphy1 {
	port {
		typec1_usb_ss: endpoint {
			remote-endpoint = <&typec1_con_ss>;
		};
	};
};

&mtp {
	status = "okay";
};
&mtp_mbox{
	status = "okay";
};
&mtp_dart {
	status = "okay";
};
&mtp_dockchannel {
	status = "okay";
};
&mtp_hid {
	multi-touch {
		apple,afe-reset-gpios = <&smc_gpio 8 GPIO_ACTIVE_LOW>;
	};

	keyboard {
	};

	stm {
		apple,stm-reset-gpios = <&smc_gpio 24 GPIO_ACTIVE_LOW>;
	};

	actuator {
	};

	tp_accel {
	};
};
